/* body {
    font-family: Arial, sans-serif !important;
    background-color: #fff !important;
    margin: 0 !important;
    padding: 0 !important;
    display: flex !important;
    justify-content: center !important;
    background-color: fff !important;
    align-items: center !important;
    height: 100vh !important;
} */

.Toastify__close-button .Toastify__close-button--light {
  width: 35px !important;
  margin: 0 !important;
  padding: 10px !important;
  background-color: red !important;
}

.Toastify__toast-container .Toastify__toast-container--top-right {
  width: 30% !important;
}
.signup-container {
  /* background-color: lightgray; */
  color: #333;
  padding: 20px;
  width: 45%;
  /* height: 100vh; */
  display: flex;
  margin: 0;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  /* box-shadow: 0 0 32px rgba(0, 0, 0, 0.1); */
  position: absolute;
  right: 30%;
  top: 20%;
}

.signup-container h2 {
  margin-bottom: 20px;
  color: #333;
}

.signup-container input[type="text"],
.signup-container input[type="email"],
.signup-container input[type="password"] {
  width: 25vw;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 20px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}

.signup-container button {
  width: 60%;
  padding: 10px;
  background-color: #0d6efd;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 8%;
  font-weight: bold;
}

.signup-container button:hover {
  background-color: #45a049;
}

.signup-container p {
  margin-top: 20px;
  color: #666;
  font-size: 14px;
  text-align: center;
}

.passwords-toggle-icon {
  position: absolute;
  /* top: 50%; */
  /* right: 25px; */
  /* transform: translateY(-50%); */
  cursor: pointer;
  margin-top: 3%;
  padding: 1%;
}
